:root {
    --color-primary:#dc88bb;
    --color-transparent90:#dc88bb90;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Glegoo', serif;
}

ol,
ul {
    list-style: none;
}

.box {
    border-bottom: 1px solid var(--color-primary);
    padding: 1rem;
}

.box:last-child {
    border-bottom: 0;
}

.nav__wrapper,
.content__wrapper {
    max-width: 75rem;
    margin: 0 auto;
}

