@import './reset.css';
@import './global.css';

/* announcement */
/* How do I make the position fixed and push down the body? */

.announcement {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding-block: 0.5rem;
    position: sticky; /* why does it disappear when the header's finished?*/
    top: 0;
    z-index: 5;
}

.announcement a {
    text-decoration: underline;
    color: var(--color-primary);
}

/* navigation menu */
.nav__bar {
    background-color: var(--color-transparent90);
    margin-bottom: 2rem;

}

.nav__wrapper {
    position: relative;
    padding: 1rem;
    display: flex;
    align-items: center;
}

.site__logo {
    width: 4rem;
    height: 4rem;
}

.hamburger__checkbox {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    top: 1.7rem;
    right: 2rem;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.hamburger__icon {
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    top: 1.7rem;
    right: 2rem;
    z-index:3;
}

.nav__menu {
    visibility: hidden;
    width: 80%;
    height: 30vh;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    transition: all 1s;
    transform: scaleX(0);
    transform-origin: top right;
    font-weight: bold;
    z-index:2;
}

.hamburger__checkbox:checked ~ .nav__menu {
    visibility: visible;
    transform: scaleX(1);
}

@media (min-width: 48rem) {
    .hamburger__icon {
        display: none;
    }

    .nav__menu {
        position: static;
        flex-direction: row;
        visibility: visible;
        transform: scaleY(1);
        transition: none;
        width: 100%;
        height: 100%;
        background-color: transparent;
        justify-content: flex-end;
    }
}
.nav__menu a {
    color: white;
    position: relative;
}

.nav__menu a::before {
    content:'';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: white;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform:scaleX(0);
    transition: transform .3s ease-in-out;
}

.nav__menu a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}


/* layout */
.content__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

@media (min-width: 48rem) {
    .content__wrapper {
        grid-template-columns: 3fr 1.5fr;
    }
    .content__music {
        grid-row: 1/ span 4;
        grid-column: 2;
    }
}

@media (min-width: 63rem) {
    .content__wrapper {
        grid-template-columns: 2fr 2fr 1.5fr;
    }

    .content__music {
        grid-row: 1/ span 4;
        grid-column: 3;
    }

    .content__flavours,
    .content__media,
    .content__stories {
        grid-column: span 2;
    }
}

/* content */
/* content__banner */
.banner_gif {
    display : block;
    width : 20rem;
    max-width: 100%;
    margin : 2rem auto;
    border-radius: 1rem;
}

.banner_survey {
    margin: 2rem auto;
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}

.banner_survey_input {
    padding : 0.5rem 1rem;
    color : var(--color-primary);
    border : 1px solid var(--color-primary);
    border-radius : 0.5rem;
    margin-top : 1rem;
    margin-bottom: 0.5rem;
    text-align: center;
}
.banner_survey_button{
    padding : 0.5rem 1rem;
    background-color: var(--color-transparent90);
    border: 0;
    border-radius : 0.5rem;
}

/* content__favorites */
.content__favorites {
    position: relative;
    display: flex;
    align-items: center;
}

.carousel__slider {
    display: flex;
    align-items: center;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;  
    position: relative;
}

.carousel__navigation {
    display: flex;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    left: 50%;
    translate: -50%;
    bottom: 1rem;
}

.carousel__nav-link {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-color: var(--color-primary);
    border-radius: 100%;
}

.carousel__nav-link:hover {
    background-color: #222;
}
.favorites__item {
    text-align: center;
    width: 100%;
    flex-shrink: 0;
    scroll-snap-align: start; 
}

.favorites__image {
    display: block;
    width: 60%;
    height: auto;
    margin-inline: auto;
}

.favorites__text {
    display: inline-block;
    font-size: 0.8rem;
}

@media (min-width: 48rem) and (max-width: 63rem) {
    .favorites__item {
        display: flex;
        align-items: center;
    }

}

/* content__flavours */
.content__flavours {
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media (min-width: 48rem) and (max-width: 63rem) {
    .content__flavours {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 63rem) {
    .content__flavours {
        grid-template-columns: repeat(5, 1fr);
    }
}

.flavours__items {
    font-size: 0.8rem;
    text-align: center;
}

.flavours__image {
    display: block;
    margin: 0 auto;
    max-width: 5rem;
    height: auto;
}

.flavours__image:hover {
    transform: scale(2);
}

/* content__media */
.content__media {
    padding: 1rem;
    margin-bottom: 2rem;
}

.media__video {
    display: block;
    margin: 0 auto;
    max-width: 90%;
    height: 100%;
}

/* content__stories */
.content__stories {
    padding-inline: 2rem;
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-bottom: 2rem;
}

.stories__year {
    color: var(--color-primary)
}

.stories__year:hover {
    transform: translateX(3rem);
}

@media (min-width: 48rem) {
    .box:nth-child(5) {
        border-bottom: 0;
    }
    
}

/* content__music */
.content__music {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    max-width: 100%;
    margin-inline: auto;
    margin-bottom: 2rem;
}

/* icecream slider */

@media (min-width: 48rem) {
    .content__music {
        display: flex;
        flex-direction: column;
        /* position: sticky;
        top: 15rem; */
    }
}

@keyframes slideIn {
    0% {
        translate: -100%;
    }
    100% {
        translate: 0;
    }
}

.slider {
    display: flex;
    gap: 4rem;
    margin-bottom: 2rem; 
    position: relative;
    overflow: hidden;
}

.slider_item {
    width: 6rem;
    height: auto;
    display: block;
    animation: slideIn 3s linear infinite;
}

.footer {
    background-color: var(--color-transparent90);
    padding: 1rem;
    text-align: center;
    color: white;
}