* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Glegoo', serif;
}

img {
    display: block;
}

:root {
    --color-primary:#dc88bb;
    --color-transparent90:#dc88bb90;
}

body {
    background-image: url('./images/sprinkles\ background.avif');
    background-repeat: repeat-y;
    animation: slidein 100s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-direction: alternate;              
}


@keyframes slidein {
    from {
        background-position: top; 
        background-size:100%; 
    }
    to {
        background-position: bottom;
        background-size:200%;}
}




.banner {
    display: flex;
    align-items: center;
    padding: 8rem;
    translate: -5%;    
    position: absolute;
}

.banner__image {
    display: block;
    flex: 1;
    flex-shrink: 0;
    max-width: 100%; /*how do I make the image not span or shrink?*/
}

.banner__text {
    flex: 1;
    background-color: var(--color-transparent90);
    padding: 2rem;
    border-radius: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.ideas__submit {
    width: 20rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}


.ideas__input {
    padding : 0.5rem 1rem;
    color : var(--color-primary);
    border : 1px solid var(--color-primary);
    border-radius : 0.5rem;
    margin-top : 1rem;
    margin-bottom: 0.5rem;
}

.ideas__button {
    padding : 0.5rem 1rem;
    background-color: var(--color-primary);
    border: 0;
    border-radius : 0.5rem;
}

.small {
    font-size: 0.7rem;
    text-align: justify;
}