/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Glegoo', serif;
}

img {
    display: block;
}

:root {
    --color-primary:#dc88bb;
    --color-transparent90:#dc88bb90;
}

/* components */
body {
    background-image: url('./images/sprinkles\ background.avif');
    background-repeat: repeat;
    height: 100vh;
    animation: bgScroll 20s;
}

@keyframes bgScroll {
    from {
        background-position: top;
    }
    to {
        background-position: bottom;
    }
}


.banner__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner {
    display: flex;
    align-items: center;
    padding: 8rem; 
    position: relative
}

.banner__tohome {
    width: 2rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
}

.banner__image {
    max-width: 100%; 
}

.banner__image:hover {
    rotate: 45deg;
}

.banner__text {
    background-color: var(--color-transparent90);
    padding: 2rem;
    border-radius: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 30rem;
}

.banner__submit {
    width: 20rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.banner__input {
    padding : 0.5rem 1rem;
    color : var(--color-primary);
    border : 1px solid var(--color-primary);
    border-radius : 0.5rem;
    margin-top : 1rem;
    margin-bottom: 0.5rem;
}

.banner__button {
    padding : 0.5rem 1rem;
    background-color: var(--color-primary);
    border: 0;
    border-radius : 0.5rem;
}

.banner__small {
    font-size: 0.7rem;
    text-align: justify;
}